NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/runners_app?schema=public
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/runners_app?schema=public
SHADOW_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/runners_app_shadow?schema=public
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d
